<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/header :: header('Najpopularniji proizvodi')}"></th:block>

<body>
    <h1>Najpopularniji proizvodi</h1>

    <table>
        <thead>
            <tr>
                <th>Ime proizvoda</th>
                <th>Prosječna ocjena</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${popularProducts}">
                <td th:text="${product.name}">Naziv</td>
                <td th:text="${product.formatedRating}">Ocjena</td>
            </tr>
        </tbody>
    </table>

    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>